RewriteEngine On
Options -MultiViews
RewriteBase /Projet_ecoride/public/

# Fichiers/dossiers réels -> pas de réécriture
RewriteCond %{REQUEST_URI} !^/favicon\.ico$
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Accueil
RewriteRule ^$ index.php [L]

# Tout le reste -> index.php?url=...
RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]

# Pas d'index de dossier
Options -Indexes

# Bloque l'exécution de PHP sous /assets et /uploads
RewriteRule ^assets/.*\.(?:php|phtml|php[0-9])$ - [F,L]
RewriteRule ^uploads/.*\.(?:php|phtml|php[0-9])$ - [F,L]

<IfModule mod_headers.c>
Header set X-Ecoride "on"
</IfModule>

SetEnv MONGO_URI "mongodb+srv://cedricr06_db_user:PlSV8eHPyWmT58Yr@ecoride.vv1mgkr.mongodb.net/?retryWrites=true&w=majority&appName=ecoride"