@use "variables";
@use "navbar";
@use "footer";
@use "hero";
@use "presentation";
@use "recherche";
@use "inscription";
@use "connexion";
@use "monprofil";

header{
  margin-top: 56px;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: variables.$texte;
  font-weight: 500;
  line-height: 1.6;
  color: #111;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: variables.$titre;
  font-weight: 700;
  line-height: 1.3;
}
